@charset "UTF-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}

/*指定html和body的高度是为了撑住整个页面能够达到100%高度*/
html,body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height: 100%;
}

/*relative属性为后面的需要绝对定位的贴底的footer提供定位依据*/
#universal {
	min-height: 100%;
	height: 100%;
	max-height: 100%;
	position: relative;
	overflow: hidden;
}

/*兼容性*/
/*使用css3新增的vh单位是为了避免padding计算和其它高度计算不同的问题*/
header {
	background-color: #3a4c3e;
	padding: 5.6vh 0 2.3vh 0;
	height: 3.6%;
	/*兼容性*/
	/*待改进*/
	box-shadow: 3px 4px 1em #280000;
}

/*兼容性*/
.main {
	padding: 3vh 3%;
	/*此处的height=100%-header.height-footer.height-2*(header+footer+.main).padding*/
	height: 74.1%;
	/*待改进*/
	/*overflow仍旧会显示滚动条*/
	overflow: auto;
	background-color:#f1f1f1;
}

footer {
	position: absolute;
	bottom: 0;
	padding: 1vh 0;
	background-color: #AAA;
	height: 6.4%;
	width: 100%;
	background-color:#ffffff;
}
/*框架部分结束*/

h1 {
	color:#ffffff;
	text-align:center;
	font-size:22px;
}


footer > a > div {
	float:left;
	width:10%;
	padding: 1vh 0 1vh 8.8%;
}

footer > a > div.scan {
	width:15%;
	padding: 0 0 0 8.8%;
}
footer > a > div >img {
	width:50%;
	height:50%;
}


