@charset "UTF-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}

/*指定html和body的高度是为了撑住整个页面能够达到100%高度*/
html,body {
	height: 100%;
	background-color:#f1f1f1;
}

/*所有的超链接都不需要下画线的吧*/
a {
	text-decoration:none;
}

/*relative属性为后面的需要绝对定位的贴底的footer提供定位依据*/
#universal {
	min-height: 100%;
	height: 100%;
	max-height: 100%;
	position: relative;
	overflow: hidden;
}

/*由于安卓通知栏不是无边界的，这里改变了header的布局，或许不够美观*/
header {
	background-color: #3a4c3e;
	padding: 15px 0 12px 0;
	height: 20px;
	text-align:center;
	position:relative;
	z-index:2;
	/*
	box-shadow:0 4px 5px #000;
	
	*/
}

header > div {
	display:none;
}

/*兼容性*/
.main {
	/*padding: 0 3%;因为登录后的设置界面是零边距的，所以把这个取代了，不知道会不会有副作用*/
	/*此处的height=100%-header.height-footer.height-2*(header+footer+.main).padding*/
	height: 90%;
	overflow: auto;
	background-color:#f1f1f1;
}

.panel {
	display:none;
}

#LoginPage {
	display:block;
}

/*footer上的垂直居中实现的不好，所以在手机上才那么难看*/
footer {
	box-sizing:border-box;
	position: absolute;
	z-index:2;
	bottom: 0;
	background-color: #F7F7F8;
	height: 50px;
	width: 100%;
	display:none;
}

footer#footer {
	
}

footer#footer2 {
	height: 70px;
	background-color: #FFF;
	display:none;
}

h1 {
	color:#ffffff;
	text-align:center;
	font-size:22px;
	overflow:hidden;
}

#refreshBtn {
	padding-right: 20px;
	float: right;
	margin-top: -2px;
}

#isAudit {
	margin-left:auto;
	margin-right:auto;
	color:#fff;
	font-size:18px; 
	border-style:solid;
	border-width:thin; 
	border-color:#fff;
	border-radius:3px;
	width:100px;
}

#isAudit > a:first-child > div{
	border-right:solid;
	border-style:thin;
	background-color:#fff;
	color:#3a4c3e;
	float:left;
	width:50%;
}

#isAudit > a:last-child > div{
	/*Do not float this */
}

#footer {
	-webkit-column-count:5;
	-moz-column-count:5;
	column-count:5;
    -webkit-column-gap:10px;
	-moz-column-gap:10px;
	column-gap:10px;
	padding:5px 10px 0 10px; 
}

#footer > a {
	 display:block;
     height:45px;
     line-height:45px;
     text-align:center;
}

#footer img {
	height:45px;
	width:33px;
}

footer#footer2 > a > div{
	display:inline-block;
	float:left;
	width:50%;
	height:100%;
	padding:27px 0;
	text-align:center;
	vertical-align:middle;
	font-size:16px;
	color:#fff;
}

footer#footer2 :first-child >div {
	/*background-color:#72815a;*/
	background-color:#d55f5f;
}

footer#footer2 :last-child >div {
	background-color:#72815a;
}

footer#footer2 > a > div >img {
	
	height:16px;
	width:16px;
	vertical-align:middle;
}
/*框架部分结束*/

 
/*重用性*/
/*以下表单样式目前只在登录界面中用到了*/
.form {
	
}

.form > div {
	padding:4px 6%;
}

/*兼容性*/
/*box-sizing不一定在android上能够得到支持*/
.typein {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:0 1em;
	border:1px solid #dcdcdc;
	border-radius:5px;
	width:100%;
	font-size:20px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height:2.2em;
}

.typein::-moz-placeholder {
	font-size:16px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#778899;
}

.typein::-webkit-input-placeholder {
	font-size:16px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#778899;
}

.typein:-ms-input-placeholder {
	font-size:16px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#778899;
}

#LoginBtn {
	margin:18px 0 5px 0;
	width:100%;
	font-size:20px;
	height:2.2em;
	background-color:#72815a;
	color:#ffffff;
	border:none;
	border-radius:5px;
}


/*以下内容仅用于登录后设置界面*/
#Setting_userinfo {
	position:relative;
	background-color:#798865;
	height:140px;
}

#Setting_userinfo > img {
	width:100%;
	height:80px;
}

#SettingPage > a {
	display:block;
	height:40px;
}

#SettingPage > a > p {
	text-align:center;
	background-color:#ff6666;
	padding:10px 0;/*由#SettingPage > a 的height-font-size除以2*/
	font-size:20px;
	color:#FFF;
}

div.Setting {
	height:40px;
	width:100%;
	background-color:#fff;
}

div.Setting > p {
	float:left;
	padding:10px 20px;
}

div.Setting > div {
	float:right;
	padding:7px 20px;
}

.iosCheck input {
  display: none;
}
.iosCheck i {
  display: inline-block;
  cursor: pointer;
  padding-right: 25px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 50px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
.iosCheck i:before {
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.iosCheck :checked + i {
  padding-right: 0;
  padding-left: 25px;
  background: #00e970;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #00e079;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #00e079;
}
.iosCheck.blue :checked + i {
  background: #6cbff0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #0093ea;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #0093ea;
}

/*  这里开始是列表页的布局  */
.uncheckItem {
	padding:12px 0 0 0;
	width:100%;
}

.uncheckItem > a > div {
	height:80px;
	background-color:#fff;
	overflow:hidden;
}

.uncheckItem > a > div > * {
	padding: 10px 0px 10px 10px;
}

.uncheckItem > a > div > img {
	float:left;
	height:50px;
	width:50px;
	border-radius:100px; 
	padding:15px;
	
}

.uncheckItem > a > div > .itemTitle {
	font-size:16px;
	color:#000;
}

.uncheckItem > a > div > .itemDetail {
	padding:5px 10px 0 0;
	font-size:12px;
	color:#808080;
}

.uncheckItem > div {
	background-color:#f9f9f9;
	padding:padding:12px 10px;
	height:50px;
	overflow:hidden;
	display:none;
}

.uncheckItem > a > .coverBtns {
	box-sizing:border-box;
	background-color:#f9f9f9;
	height:30px;
	padding:9px 9px;
	display:block;
	text-align:right;
	font-size:12px;
	color:#808080;
}

.uncheckItem > a > .coverBtns > img {
    height: 12px;
    width: 12px;
    padding: 0 10px 0 0 ;
    float:right;
}

.uncheckItem > div > div {
	float:left;
	margin:12px 5px;
}

.uncheckItem > div > div > a {
	border-radius:3px;
	display:block;	
	height:30px;
	width:55px;
}

.uncheckItem > div > div:first-child > a {
	background-color:#798965;
}

.uncheckItem > div > div:last-child > a {
	background-color:#d55f5f;
}

.uncheckItem > div > div > a > p {
	text-align:center;
	padding:8px 0;
	font-size:12px;
	color:#fff;
}

.checkedItem {
	width:100%;
	padding:12px 0 0 0;
}

.checkedItem > a > div {
	height:80px;
	background-color:#fff;
	overflow:hidden;
}

.checkedItem > a > div > * {
	padding:10px 0 10px 10px;
}

.checkedItem > a > div > img {
	float:left;
	height:50px;
	width:50px;
	border-radius:100px; 
	padding:15px;
}

.checkedItem > a > div > .itemTitle {
	
	font-size:16px;
	color:#000;
}

.checkedItem > a > div > .itemDetail {
	padding:5px 10px 0 0;
	font-size:12px;
	color:#808080;
}

/*详情页的css走起*/
#DetailPage > div:first-child {
	height:70px;
}

#DetailPage > div:first-child > img {
	float:left;
	height:50px;
	width:50px;
	border-radius:100px; 
	padding:15px;
}

#Detail_SponsorName {
	padding:20px 0 0 20px;
	font-size:20px;
	color:#000;
}

#Detail_SponsorDetail {
	padding:2px 0 0 20px;
	/*不懂为何这个左边距无法实现完全对齐*/
	font-size:10px;
	color:#808080;
}

#DetailPage > div:last-child {
	background-color:#fff;
	color:#fff;
	font-size:8px;
}

#DetailPage >  div:last-child > div {
	margin:14px 25px 10px 30px;
	border-left-color:#72815a;
	border-left-style:solid;
	border-left-width:5px;
	padding:0 0 0 18px;
	color:#808080;
}

#DetailPage >  div:last-child > div > .itemTitle{
	font-size:14px;
	margin:0 0 5px 0;
	color:#000;
}

p.detailTitle {
	padding:10px 10px 0 0;
	font-size:14px;
	color:#000;
}

p.detailGroup {
	padding:10px 10px 0 0;
	font-size:16px;
	font-weight:bolder;
	/*text-decoration:underline;*/
	color:72815a;
}

p.deatilContent {
	padding:5px 10px 0 0;
	font-size:14px;
	color:#808080;
}

#detail_start > img {
	max-width:100%;
	height:auto;
}

/* auditPage */
#AuditComment {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:1em 1em;
	width:100%;
	height:130px;
	font-size:14px;
	color:#ccc;
	border:none;
	border-radius:5px;
	resize:none
}

#AuditBtn {
	margin:18px 0 5px 0;
	width:100%;
	font-size:20px;
	height:2.2em;
	background-color:#72815a;
	color:#ffffff;
	border:none;
	border-radius:5px;
}

#AuditCancel {
	margin:0 0 5px 0;
	width:100%;
	font-size:20px;
	height:2.2em;
	background-color:#CCCCCC;
	color:#ffffff;
	border:none;
	border-radius:5px;
}

/* 搜索页面 */

#search_start > a > div {
	height:60px;
	background-color:#f9f9f9;
	overflow:hidden;
}

#search_start > a > div > div:first-child {
	padding:10px 0 10px 20px; 
	height:100%; 
	float:left;
}

#search_start > a > div > div:first-child > img {
	height: 40px;
	width: 40px;
	border-radius: 40px;
}

#search_start > a > div > div:last-child {
	float: left;
	padding-left: 15px;
}

#search_start > a > div > div:last-child > p:first-child {
	font-size: 15px;
	padding: 15px 0 4px 0;
	color: #3a4c3e;
}

#search_start > a > div > div:last-child > p:last-child {
	font-size: 11px;
	color:#c0c0c0;
}

#search_start > a > div > div:last-child > p:last-child > em {
	color:#718059;
	font-style:normal;
}

/*drop shadow特效，如果卡的话禁用了吧，顺便把checkeditem的类也消除了*/
.lifted {
            -moz-border-radius:4px;
            border-radius:4px;
}

.lifted:before,.lifted:after {
            bottom:15px;
            left:10px;
            width:50%;
            height:20%;
            max-width:300px;
            max-height:100px;
            -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            -webkit-transform:rotate(-3deg);
            -moz-transform:rotate(-3deg);
            -ms-transform:rotate(-3deg);
            -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.lifted:after {
            right:10px;
            left:auto;
            -webkit-transform:rotate(3deg);
            -moz-transform:rotate(3deg);
            -ms-transform:rotate(3deg);
            -o-transform:rotate(3deg);
            transform:rotate(3deg);
}

.drop-shadow {
            position:relative;
			 margin-bottom:5px;
            background:#fff;
            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
            content:"";
            position:absolute;
            z-index:-2;
}

.drop-shadow p {
            font-size:16px;
            font-weight:bold;
}

#ScanPage {
    height: 100%;
    text-align: center;
}

#ScanPage > img {
    position: relative;
    top: 40%;
    height: 200px;
    width: 200px;
}

/*Loading Page*/
#LoadingPage {
	height:100%;
	width:100%;
	position:absolute;
	z-index:1;
	background-image:url(../img/alphaBackground.png);
	background-repeat:repeat;
	display:none;
	text-align:center;
}

#LoadingPage > img {
	position:relative;
 	top:40%;
    height: 64px;
    width: 64px;
}

/*Chart Page*/
#ChartPage > a > div {
    background-color:#f9f9f9;
    height:52px;
    width:100%;
    border-bottom:solid 1px #dcdcdc;
    font-size:16px;
    overflow: hidden;
}

#ChartPage > a > div > p {
    padding: 18px;
}

#ChartPage > a > div > p {
    float:left;
    overflow: hidden;
}

#ChartPage > a > div > img {
    float:right;
    height: 16px;
    width: 16px;
    padding: 18px;
}

#chartLegend {
    padding-left:50px;
    height:50px;
}

#chartLegend > div {
    float:left;
    width:50%;
    padding-top:5px;
}

#chartLegend > div >div {
    height:15px;
    width:15px;
    float:left;
}

#chartLegend > div > p {
    float:left
}

#lineChart {
    padding-top: 0px;
}